@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}

/*Header*/
.header {
    width: 90%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid rgb(177, 177, 177);
}

.header h1 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
    
}

.header ul li {
    font-size: 16px;
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
.header ul li:hover {
    background-color: rgb(178, 176, 176);
}

.header ul li:hover a {
    color: azure;
}
.header ul li:active {
    transform: scale(0.9);
}

.header ul li.active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0.5px rgb(116, 116, 116);
}

.header ul li.active a {
    color: rgb(255, 255, 255);
}

.header ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px 18px;
    text-decoration: none;
    color: rgb(111, 109, 109);
    transition: all 0.3s ease-in-out;
}
/*Main*/
.gallery {
    width: 90vw;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

main h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 70px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    letter-spacing: 8px;
}

.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 300px));
    grid-template-rows: repeat(3, 200px);
    gap: 23px;
    align-items: center;;
    justify-content: center;

}

.item {
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 5px 4px 5px 0px rgb(208, 207, 207);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.item:hover {
    transform: scale(1.05);
}

.item:active {
    transform: scale(1.0);
}

.item img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    -webkit-user-drag: none;

}

.item1 {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item2 {
    display: grid;
    grid-column: 2 / 3 ;
    grid-row: 1 / 2;
}

.item3 {
    display: grid;
    visibility: hidden;
    grid-column:  3 / 4 ;
    grid-row: 1 / 2;
}

.item4 {
    display: grid;
    grid-column:  4 / 5 ;
    grid-row: 1 / 2;
}

.item5 {
    display: grid;
    visibility: hidden;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item6 {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.item7 {
    visibility: hidden;
    display: grid;
    grid-column: 3 / span 2;
    grid-row: 2 / 3;
}

.item8 {
    display: grid;
    align-content: center;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}






