* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}

/*Header*/
.header {
    width: 90%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid rgb(177, 177, 177);
}

.header h1 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.header ul {
    display: flex;
    flex-direction: ;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
    
}

.header ul li {
    font-size: 16px;
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
.header ul li:hover {
    background-color: rgb(178, 176, 176);
}

.header ul li:hover a {
    color: azure;
}
.header ul li:active {
    transform: scale(0.9);
}

.header ul li.active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0.5px rgb(116, 116, 116);
}

.header ul li.active a {
    color: rgb(255, 255, 255);
}

.header ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px 18px;
    text-decoration: none;
    color: rgb(111, 109, 109);
    transition: all 0.3s ease-in-out;
}


/*Main*/
.gallery {
    width: 90vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}

main h1 {
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px;
    margin-top: 100px;

}

.item {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 10px 3px rgb(208, 207, 207);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.item:hover {
    transform: scale(1.05);
}

.item:active {
    transform: scale(1.0);
}

.item img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    border-radius: 10px;
    -webkit-user-drag: none;
}

.layout1 {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 1;
}

.layout2 {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 1;
}

.layout3 {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 1 / 1;
}

.layout4 {
    display: grid;
    grid-column: 4 / 5;
    grid-row: 1 / 1;
}

@media (max-width: 1200px) {
    .grid-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 40px;
        margin-top: -100px;


    }

    .layout1 {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .layout2 {
        display: grid;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .layout3 {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .layout4 {
        display: grid;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}

@media (max-width: 768px) {

    .header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
    gap: 10px;
    
    }
    .header ul li {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 10px;
    font-size: 10px;
    font-weight: 700;
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    }

    .header ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 12px;
    text-decoration: none;
    color: rgb(111, 109, 109);
    transition: all 0.3s ease-in-out;
}
    
    .grid-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 40px;
        margin-top: -100px;


    }

    .layout1 {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .layout2 {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .layout3 {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .layout4 {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
}